<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>

    <form method="POST" action="/newchat">
     <p>From:<input name="from" type="text"> </p>
     <p>msg:<textarea name="msg" placeholder="write msg here..."></textarea></p>
     <p>To:<input name="to" type="text"></p>
     <button>Submit</button>
    </form>
</body>
</html>